name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Dep install
      run: |
        sudo apt install phablet-tools
        git config --global user.name "buildbot"
        git config --global user.email "buildbot@phh.me"
    - name: Build
      run: |
        bash build-dakkar.sh graphene10 arm64-ab-vanilla-nosu-user
