name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Dep install
      run: |
        sudo su
        dpkg --add-architecture i386
        apt-get update && apt-get install -y build-essential imagemagick xorriso locales openjdk-8-jdk python git m4 unzip bison zip gperf libxml2-utils zlib1g:i386 libstdc++6:i386 bc curl lzop lzip lunzip jq wget squashfs-tools
        ln -s /usr/bin/xorrisofs /usr/bin/mkisofs
        locale-gen en_US.UTF-8
        dpkg-reconfigure locales
        curl https://storage.googleapis.com/git-repo-downloads/repo > /usr/local/bin/repo
        chmod a+x /usr/local/bin/repo
        git config --global user.name "buildbot"
        git config --global user.email "buildbot@phh.me"
        chmod +x build-dakkar.sh
    - name: Build
      shell: bash
      run: ./build-dakkar.sh graphene10 arm64-ab-vanilla-nosu-user
